features:
    comments:
        order: asc              # 'desc' if you want the new comments at the top
#        default_approve: true  # 'false' if submited comments should get "draft" status by default
    questions:
        enabled: false
#        list:
#            - question: What is the color of the blue sky?
#              responses: blue
#            - question: What is the sum of two plus one?
#              responses: [ three, 3 ]
    gravatar:
        enabled: true
#        url: https://www.gravatar.com/avatar/XXX?s=40&d=mm
    emoticons:
        enabled: true
        animate: false
    mention:
        enabled: true
    notify:
        enabled: true
        debug:
            enabled: true
            address: noreply@example.com # email used to send debug notifications
        email:
            from_name:  Your website
            from_email: your-email@your-website.com
#            replyto_name:   #
#            replyto_email:  #

# templates:
#     form: extensions/leskis/bolt-simple-comment-system/templates/bscs_form_comment.twig
#     list: extensions/leskis/bolt-simple-comment-system/templates/bscs_list_comments.twig
#     emailbody: extensions/leskis/bolt-simple-comment-system/templates/bscs_email_body.twig
#     emailsubject: extensions/leskis/bolt-simple-comment-system/templates/bscs_email_subject.twig

# assets:
#     frontend:
#         load_js: true
#         load_css: true
