/* Comments List */
.bscsComments ul {
    margin: 0 0 1em 0;
    padding: 0;
}
.bscsComment {
    border-bottom: 1px solid #eee;
    list-style: none;
    padding: 15px 0;
}
.bscsCommentAvatar {
    float: left;
}
.bscsCommentAvatar img {
    max-width: 100%;
    width: 40px;
}
.bscsCommentContainer {
    margin-left: 55px;
}
    .bscsCommentContainer.bscsCommentNoAvatar {
        margin-left: 0;
    }
.bscsCommentAuthor {
    display: inline-block;
    font-weight: bold;
}
.bscsCommentTime {
    color: #777;
    display: inline-block;
    font-size: 0.8em;
}
.bscsCommentBody {
    display: block;
}

/* Comment Form */
#bscsFormContainer {}
#bscsForm {
    background-color: #ccc;
    border: 1px solid #bbb;
    color: #333;
    padding: 0;
    position: relative;
}
    #bscsForm textarea,
    #bscsForm input {
        margin: 0;
    }

.bscsFormBody {
    background-color: #eee;
    padding: 4px;
}
    .bscsFieldRow {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        flex: row wrap;
        justify-content: flex-end;
    }
    .bscsFieldAvatar {
        margin-right: 4px;
    }
        .bscsFieldAvatar img {
            margin: 0;
            max-width: 100%;
        }
    .bscsFieldName {
        flex-grow: 1;
        margin-right: 4px;
    }
    .bscsFieldEmail {
        flex-grow: 1;
    }
    .bscsFieldBody {
        margin-bottom: 4px;
    }
    .bscsFieldQuestion {
        align-items: center;
    }
    .bscsFieldQuestion label {
        flex-grow: 1;
        padding-right: 1em;
        text-align: right;
    }
    .bscsFieldQuestion input {
        width: auto;
    }

.bscsFormFooter {
    align-items: stretch;
    display: flex;
    flex: row wrap;
    justify-content: space-between;
}
    .bscsFormFooter .bscsFieldRow {
        margin-bottom: 0;
    }
    .bscsFieldNotify {
        align-items: center;
        padding-left: 1em;
    }
    .bscsFieldAction {
        width: 20%;
    }
    .bscsFieldAction button {
        background-color: #666;
        color: #fff;
        height: 100%;
        line-height: 2em;
        width: 100%;
    }
        .bscsFieldAction button:hover {
            background-color: #444;
        }

.tribute-container li {
    font-size: 12px;
    white-space: nowrap;
}
.tribute-container img {
    display: inline-block;
    margin: 0 1rem 0 0;
}
.bscs-tribute {
    background-color: #efefef;
    display: inline-block;
    padding: 0.1rem 0.3rem;
}
